{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <h1 class="page-title">Tourzan Blog</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                {% for blog_post in blog_posts %}
                    <!-- START BLOG POST -->
                    <div class="article post">
                        <header class="post-header">
                            <a class="hover-img" href="{% url 'blog_post' blog_post.slug %}">
                                <img
                                    {% if blog_post.image %}
                                        src="{% get_media_prefix %}{{ blog_post.image }}"
                                    {% else %}
                                        src=""
                                    {% endif %}
                                     alt="{{ blog_post.slug }}" title="{{ blog_post.slug }}" />
                                <i class="fa fa-link box-icon-# hover-icon round"></i>
                            </a>
                        </header>
                        <div class="post-inner">
                            <h4 class="post-title">
                                <a class="text-darken" href="{% url 'blog_post' blog_post.slug %}">
                                    {{ blog_post.name }}
                                </a></h4>
                            <ul class="post-meta">
                                <li><i class="fa fa-calendar"></i><a href="#">{{ blog_post.created|date:"m.d.Y" }}</a>
                                </li>
                            </ul>
                            <p class="blog-text">
                                {{ blog_post.text|safe|truncatechars_html:200 }}
                            </p>
                            <a class="btn btn-small btn-primary" href="{% url 'blog_post' blog_post.slug %}">Read More</a>
                        </div>
                    </div>
                    <!-- END BLOG POST -->
                {% endfor %}

                {% if blog_posts.has_other_pages %}
                    <ul class="pagination">
                        {% if blog_posts.has_previous %}
                            <li class="next"><a href="?page={{ blog_posts.previous_page_number }}">Previous Page</a>
                            </li>
                        {% endif %}
                        {% for i in blog_posts.paginator.page_range %}
                            {% if blog_posts.number == i %}
                                <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                              {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                        {% endfor %}
                        {% if blog_posts.has_next %}
                            <li class="next"><a href="?page={{ blog_posts.next_page_number }}">Next Page</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
                <div class="gap"></div>
            </div>
            <div class="col-md-4">
                {% include 'blog/blog_post_rightbar.html' %}
            </div>
        </div>
    </div>
{% endblock content %}