{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <article class="post">
                    <header class="post-header">
                        <a class="hover-img" href="{% url 'blog_post' blog_post.slug %}">
                            <img
                                {% if blog_post.image %}
                                    src="{% get_media_prefix %}{{ blog_post.image }}"
                                {% else %}
                                    src=""
                                {% endif %}
                                 alt="{{ blog_post.slug }}" title="{{ blog_post.slug }}" />
                            <i class="fa fa-link box-icon-# hover-icon round"></i>
                        </a>
                    </header>
                    <div class="post-inner">
                        <h4 class="post-title">
                            <a class="text-darken" href="{% url 'blog_post' blog_post.slug %}">
                                {{ blog_post.name }}
                            </a></h4>
                        <ul class="post-meta">
                            <li><i class="fa fa-calendar"></i><a href="#">{{ blog_post.created|date:"m.d.Y" }}</a>
                            </li>
                            <li><i class="fa fa-user"></i><a href="#">{{ blog_post.author}}</a>
                            </li>
                            <li><i class="fa fa-tags"></i><a href="#">{{ blog_post.tags }}</a>
                            </li>
                        </ul>
                        <p class="blog-text">
                            {{ blog_post.text|safe }}
                        </p>

                        <div>
                            <a class="btn btn-primary" href="{% url 'blog' %}">{% trans 'Back to posts list' %}</a>
                        </div>

                    </div>
                </article>

            </div>
            <div class="col-md-4">
                {% include 'blog/blog_post_rightbar.html' %}
            </div>
        </div>
    </div>
{% endblock content %}