{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div class="box bg-gray chat-item single-chat">
                    <div>
{#                        <h3>{{ chat.topic }}</h3>#}
                        <h3>
                            {% blocktrans %}Chat {% endblocktrans %}
                            {% blocktrans %}with {% endblocktrans %}
                            {% if request.user != chat.guide %}
                                <a href="{% url 'guide' chat.guide.generalprofile.first_name chat.guide.generalprofile.uuid %}">
                                    {% if chat.guide.generalprofile.first_name %}
                                        {{ chat.guide.generalprofile.first_name }}
                                    {% else %}
                                        {{ chat.guide.username }}
                                    {% endif %}
                                </a>
                                {% blocktrans %}(guide){% endblocktrans %}
                            {% else %}
                                 <a href="{% url 'tourist' chat.tourist.generalprofile.uuid %}">
                                    {% if chat.tourist.generalprofile.first_name %}
                                        {{ chat.tourist.generalprofile.first_name }}
                                    {% else %}
                                        {{ chat.tourist.username }}
                                    {% endif %}
                                </a>
                                {% blocktrans %}(tourist){% endblocktrans %}
                            {% endif %}
                        </h3>
                    </div>
                    <div>
{#                        <b>{% blocktrans %}with {% endblocktrans %}</b>#}
                         <b>{% blocktrans %}started at: {% endblocktrans %}</b> {{ chat.created|date:"m.d.Y" }}
                    </div>

                    <div id="messages_area">
                        {% if chat_messages %}
                            {% for message in chat_messages %}
                                <div class="chat-message small">
                                    <div class="message-meta-info">
                                        {% if request.user.username == message.user__username %}
                                            me
                                        {% else %}
                                            {% if message.user__generalprofile__first_name %}
                                                {{ message.user__generalprofile__first_name }}
                                            {% else %}
                                                {{ message.user__username }}
                                            {% endif %}
                                        {% endif %}, {{ message.created|date:"m.d.Y H:i:s" }}
                                    </div>
                                    <div class="chat-message-text">
                                        {{ message.message|linebreaks }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="message-input-container">
                        <form id="chat_message_form" class="form" method="post" action="{% url 'sending_chat_message' %}">{% csrf_token %}
                            <input class="hidden" value="{{ chat.uuid }}" name="chat_uuid">
                            <div class="form-group">
                                <textarea id="message_textarea" rows="3" class="form-control" name="message"></textarea>
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-primary btn-lg">{% blocktrans %}Submit{% endblocktrans %}</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block js_stuff %}
    <script src="{% static 'js/custom_scripts/chats.js' %}"></script>
{% endblock js_stuff %}

