{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if chats %}
                    <div class="chat-container" id="chats_list">
                        {% for chat in chats %}
                            <div class="box bg-gray chat-item">
                                <div>
{#                                    <h3>{{ chat.topic }}</h3>#}
                                    <h3>
                                        {% blocktrans %}Chat {% endblocktrans %}
                                        {% blocktrans %}with {% endblocktrans %}
                                        {% if request.user.username != chat.guide__username %}
                                            <a href="{% url 'guide' chat.guide__generalprofile__first_name chat.guide__generalprofile__uuid %}">
                                                {% if chat.guide__generalprofile__first_name %}
                                                    {{ chat.guide__generalprofile__first_name }}
                                                {% else %}
                                                    {{ chat.guide__username }}
                                                {% endif %}
                                            </a>
                                            {% blocktrans %}(guide){% endblocktrans %}
                                        {% else %}
                                            <a href="{% url 'tourist' chat.tourist__generalprofile__uuid %}">
                                                {% if chat.tourist__generalprofile__first_name %}
                                                    {{ chat.tourist__generalprofile__first_name }}
                                                {% else %}
                                                    {{ chat.tourist__username }}
                                                {% endif %}
                                            </a>
                                            {% blocktrans %}(tourist){% endblocktrans %}
                                        {% endif %}
                                    </h3>
                                </div>
                                <div>
                                     <b>{% blocktrans %}started at: {% endblocktrans %}</b> {{ chat.created|date:"m.d.Y" }}
                                </div>
                                <br>
                                {% if chat.last_message.text %}
                                    <div>
                                        <b>{% blocktrans %}Last Message:{% endblocktrans %}</b>
                                    </div>
                                    <div class="chat-message">
                                        <div class="message-meta-info">
                                            {% if request.user.username  == chat.last_message.from %}
                                                me
                                            {% else %}
                                                {{ chat.last_message.from }}
                                            {% endif %}, {{ chat.last_message.created|date:"m.d.Y H:i:s" }}
                                        </div>
                                        <div class="chat-message-text">
                                            {{ chat.last_message.text|linebreaks }}
                                        </div>
                                    </div>
                                {% else %}
                                    {% blocktrans %}No last message{% endblocktrans %}
                                {% endif %}

                                <div class="text-right">
                                    <a class="btn btn-primary" href="{% url 'chat' chat.uuid %}">{% blocktrans %}Go To Conversation{% endblocktrans %}</a>
                                </div>
                            </div><!-- end of chat-item -->
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="chat-container">
                        <h3>{% blocktrans %}There are no chats so far...{% endblocktrans %}</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}