{% extends 'base_profile.html' %}
{% load static %}
{% load i18n %}


{% block header_stuff %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
{% endblock %}

{% block content_profile %}
    <div class="col-md-9" xmlns="http://www.w3.org/1999/html">
        <div class="row">

            <div class="col-md-12">
                <h4>
                    {% blocktrans %}Your Payments{% endblocktrans %}
                </h4>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="gap"></div>
            </div>
            {% if payments %}
                <div class="col-lg-12">
                    <table class="table table-bordered table-center" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Payment Uuid
                                </th>
                                <th>
                                    Order
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Currency
                                </th>
                                <th>
                                    Payment method
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in payments %}
                                <tr>
                                    <td>
                                        <span class="hidden">{{ payment }}</span>
                                        {{ payment.created|date:"m.d.Y H:i" }}
                                    </td>
                                    <td>
                                        <a href="{% url 'order_payment_checkout' payment.order.id %}">
                                            {{ payment.uuid }}
                                        </a>
                                    </td>
                                    <td>
                                        {% if payment.order.tour %}
                                            <a href="{% url 'tour' payment.order.tour.slug payment.order.tour.id %}">
                                                {{ payment.order.tour.name }}
                                            </a>
                                                 {% blocktrans %}by{% endblocktrans %}

                                            <a href="{% url 'guide' payment.order.guide.user.generalprofile.first_name payment.order.guide.user.generalprofile.uuid %}">
                                                {{ payment.order.guide.user.generalprofile.first_name }}
                                            </a>

                                        {% else %}
                                            Tour with
                                            <a href="{% url 'guide' payment.order.guide.user.generalprofile.first_name payment.order.guide.user.generalprofile.uuid %}">
                                                {{ payment.order.guide.user.generalprofile.first_name }}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ payment.amount|safe }}
                                    </td>
                                    <td>
                                        {{ payment.currency.name }}
                                    </td>
                                    <td>
                                        {{ payment.payment_method.card_number }}
                                    </td>
                                    <td>
                                        {{ payment.order.payment_status.name }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="col-lg-12">
                    <p>
                        You have no payments so far...
                    </p>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}


{% block js_stuff %}
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#earnings_table").DataTable();
        })
    </script>
{% endblock %}

