#form_tour_scheduling{
    padding: 5px 10px;
}

.mini-container{
    margin: 5px;
}

.btn-booking{
    margin-top: 15px;
}

#amount_container{
    margin-top: 10px;
}

.booking-item-dates-change{
    position: relative;
}

.booking-result-message{
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
}

.tour-booking-price{
    font-size: 14px;
}

.booking-item-title{
    font-size: 20px;
}

.tour-name, .item-name{
    font-size: 20px;
}

.tour-guide-name{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 700;
}

.tour-price, .tour-rating, .guide-rate, .guide-rating{
    font-size: 16px;
    margin-bottom: 5px;
}

.chat-container{
    margin: 10px 0;
    padding: 10px;
}

.chat-item{
    margin-bottom: 10px;
}

.chat-item.single-chat{
    margin-top: 10px;
}

.chat-message{
    margin: 10px 0;
    padding: 5px 10px 15px 10px;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    text-align: left!important;
}

/*.chat-message.small{*/
    /*width: 48%;*/
/*}*/


.message-meta-info{
    font-size: 12px;
    font-style: italic;
}

.chat-message-text{
    padding-left: 3px;
    font-size: 14px;
}

#chat_message_form textarea{
    width: 100%;
}

#messages_area{
    overflow-y: scroll;
    height: 200px;
    margin-bottom: 10px;
}

.alert-general{
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0;
    opacity: 1;
    z-index: 5000;
}

.user-profile-sidebar .user-profile-nav > li.active > a {
    cursor: pointer;
}

.guide-image-small{
    height: 200px;
    width: auto;
}

.avatar-image-x-small{
    height: 100px;
    width: auto;
}

.label-sm {
  font-size: 12px;
}

.label-md {
  font-size: 16px;
}

.label-lg {
  font-size: 20px;
}

.top-menu{
    text-align: center;
}

.select2-selection.select2-selection--multiple,
.select2-selection__choice{
    color: black;
}

.label-tag{
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
}

.header-white{
    background-color: white;
}

.header-white .top-user-area .top-user-area-list > li > a{
    color: black;
}

.navbar-logo{
    width: 50px!important;
}

.logo-md{
    width: 90px;
}

.logo-lg{
    width: 150px;
}

.footer-logo{
    width: 100px!important;
}

.form-error-text{
    color: red;
}

.alert{
    z-index: 1000;
}

.navbar-logo{
    padding: 0;
}

.no-padding{
    padding: 0;
}

.navbar-logo-text{
    margin-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.navbar-logo-text a,
.navbar-logo-text a:hover{
    color: #31dc72;
}

.booking-item,
.booking-item:hover,
.tour-item,
.tour-item:hover{
    cursor: auto;
    border: 1px solid #31dc72;
}

.tour-item{
    display: block;
    position: relative;
    padding: 17px;
    color: #737373;
}

.booking-item.booking-item-small .booking-item-price {
    font-size: 15px;
}

.profile-info-top {
    padding: 20px;
    margin-top: 15px;
}

#feedback_form #rating{
    width: 100px;
}

.select2-selection{
    min-height: 35px;
    border: solid black 1px;
}

.select2-selection__arrow{
    display: none;
}

.w100{
    width: 100px
}

.table-center th,
.table-center td{
    text-align: center;
}

.payment-summary{
    border: 1px solid black;
    padding: 20px 20px 30px 20px;
    position: relative;
}

.tr-last td{
    padding-top: 20px;
}

.tr-mb20{
    padding-bottom: 20px;
}

.is-paid-container{
    text-align: center;
    font-size: 18px;
    color: #169e49;
    border: 2px dashed #169e49;
    position: absolute;

    top: 7%;
    right: 4%;
    padding: 15px;
    letter-spacing: 5px;

    -moz-transform: rotate(-15deg); /* Firefox */
    -ms-transform: rotate(-15deg); /* IE */
    -webkit-transform: rotate(-15deg); /* Safari, Chrome, iOS */
    -o-transform: rotate(-15deg); /* Opera */
    transform: rotate(-15deg);
}

a.link_lead,
a.link_lead:hover,
a.link_lead:active{
    color: #1476ab;
}

.service_item_container td{
    padding-right: 10px;
}

.service_item_container .input-icon {
    top: 2px!important;
}

.w150{
    width: 150px;
}

.text-error{
    color: red;
}

.text-error ul {
    list-style: none;
    margin-left: -40px;
}

select{
    padding: 5px 5px 5px 3px!important;
}


.select2-container .select2-selection__rendered{
    padding: 3px 5px 5px 8px;
    font-size: 14px;
}



select.hide-arrow{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


.phone-area .phone-code,
.phone-area .phone-number{
    display: inline-block;
    vertical-align: top;
}

.phone-area .phone-code{
    width: 25%;
    margin-right: 4.5%;
}

.phone-area .phone-number{
    width: 70%;
}

.btn-default-payment-method.active, .btn-default-payment-method:hover, .btn-default-payment-method:active{
    background-color: #31dc72!important;
    color: white!important;
    border-color: #31dc72!important;
    -webkit-box-shadow: 0 0 0 1px #31dc72!important;
    box-shadow: 0 0 0 1px #31dc72!important;
}

.btn-delete-payment-method:hover, .btn-delete-payment-method:active{
    background-color: red!important;
    color: white!important;
    border-color: red!important;
    -webkit-box-shadow: 0 0 0 1px red!important;
    box-shadow: 0 0 0 1px red!important;
}


.select2-selection--multiple {
    border-radius: 0!important;
    height: 44px!important;
    border: 1px solid #ccc!important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #31dc72!important;
}

.div-input-icon{
    position: relative;
}

.div-input-icon .input-icon{
    top: 0;
}

footer#main-footer {
    font-size: 14px;
    position: relative;
    z-index: 200;
}

.slimmenu-menu-collapser {
    background-color: transparent;
}

.slimmenu-collapse-button {
    border: 1px solid #31dc72;
    border-radius: 0;
}

.slimmenu-collapse-button .slimmenu-icon-bar {
    background-color: #31dc72;
}

.booking-filters-container{
    position: absolute;
    z-index: 100;
    top: 180px;
    left: 0;
    padding-left: 5%;
    transition: 1s all;
    width: 100%;
    border-radius: 0;
}

.booking-filters-container .booking-filters{
    position: absolute;
    border-radius: 0;
}

.booking-filters-container.closed .booking-filters{
    left: -500px;
    padding-left: 0;
    transition: 1s all;
}

.booking-filters-container.sticky-top .booking-filters{
    top: 0;
}

.left-menu-toggle-button{
    position: absolute;
    top: 17px;
    color: black;
    z-index: 150;
    left: 263px;
    visibility: hidden;
    width: 100px;
}

.booking-filters-container.closed .left-menu-toggle-button{
    left: 0;
}

.slimmenu-menu-collapser .navbar-brand{
    padding-left: 30px!important;
}

.slimmenu-menu-collapser .navbar-logo-text{
    padding-left: 30px;
}

.seacrch-results-container{
    min-height: 1000px;
}

.table-calendar{
    /*table-layout: fixed;*/
    width: 100%;
    margin-top: 15px;
}

.table-calendar thead th{
    padding: 1px!important;
    white-space: nowrap;
}

.day-title{
    width: 100px;
}

.time-title{
    /*-moz-transform: rotate(-90deg);  !* Firefox *!*/
    /*-o-transform: rotate(-90deg);  !* Opera *!*/
    /*-webkit-transform: rotate(-90deg);  !* Safari y Chrome *!*/
    transform:
    /* Magic Numbers */
    translate(3px, -5px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}

.table-calendar tbody > tr .calendar-item{
    text-align: center;
    width: 10px;
    cursor: pointer;
    background-color: #dadada;
}

.table-calendar tbody > tr > td{
    border: 1px solid white;
}

.table-calendar tbody > tr > td.calendar-item.available {
    background-color: #bdf0bd;
}

.table-calendar tbody > tr > td.calendar-item.calendar-item.booked{
    background-color: #5adc72;
}

.table-calendar tbody > tr > td.calendar-item.calendar-item.disabled {
   background-color: #dadada;
}

.table-calendar thead{
    border-top: 2px solid white!important;
    border-left: 2px solid white!important;
    border-right: 2px solid white!important;
}

.time-slots-container{
    text-align: left;
    color: white;
    margin-bottom: 10px;
}

.time-slots-container .time-slot{
    display: inline-block;
    background-color: grey;
    border-radius: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}

.time-slots-container .time-slot.chosen{
    background-color: #5adc72;
}

.select2-selection--multiple{
    overflow: hidden !important;
    height: auto !important;
}

.text-black{
    color: black!important;
}

fieldset.verification-form{
    border: 1px solid #ddd !important;
    margin: 0 0 15px 0;
    xmin-width: 0;
    padding: 10px;
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}

fieldset.verification-form legend {
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0;
    width: 55%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #31dc72;
    color: white;
}

.thumb{
    text-align: center;
}

.navbar-brand{
    color: #31dc72!important;
    font-size: 20px;
    font-weight: 700;
}

.navbar li.active a{
    /*background: #70fca5 !important;*/
    background-color: #7beda7 !important;
    color: white!important;
    font-size: 18px;
}

.nav-drop .fa-angle-down {
    position: relative;
    line-height: inherit;
    font-size: 90%;
    opacity: 0.7;
    padding-left: 12px;
}

.nav-drop.active-drop .fa-angle-up {
    top: 15px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    right: 0;
}

.nav-drop.active-drop > .nav-drop-menu {
    position: relative;
    height: 100%;
}

.navbar-collapse.in {
    height: auto;
    max-height: 100vh;
    overflow: hidden;
}

a{
    outline:none!important;
}

.select2-container {
    width: 100%
}

.navbar{
    padding-top: 15px;
    /*border-bottom: 1px solid #31dc72;*/
    padding-bottom: 7px;
    border-radius: 0;
    border: 0;
    background-color: white;
    margin-bottom: 0;
}

.top-area.show-onload{
    min-height: 700px;
}

.navbar-brand{
    margin-left: 0;
}

.answer-container{
    margin-bottom: 30px;
}

.social-networks{
    margin-bottom: 10px;
}

.booking-item-dates-change{
    margin-bottom: 10px;
}

.booking-proposal-container{
    position: fixed;
    right: 20px;
    padding: 25px 15px!important;
    font-size: 18px;
    z-index: 1000;
}

.guide-action-container{
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 1000;
    text-align: center;
}

.guide-action-container>div{
    display: inline-block;
}

.guide-action-container .main-buttons{
    max-width: 340px;
    text-align: center;
}

.guide-action-container .scroll-top-container{
    position: absolute;
    right: 20px;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width:1260px) {
  .booking-filters-container{
      z-index: 100;
      top: 182px;
      left: 1%;
      padding-left: 0;
  }
}

@media (max-width: 1200px){
    .left-menu-toggle-button{
        visibility: visible;
    }

    .booking-proposal-container{
        visibility: hidden;
    }

    .guide-action-container{
        visibility: visible;
    }

}

@media (max-width:992px) {
  .booking-filters-container{
      z-index: 100;
      top: 240px;
      left: 0;
      border-radius: 0;
  }
}

@media (max-width:768px) {

  .booking-filters-container{
      top: 0;
      left: 0;
      border-radius: 0;
      visibility: visible;
  }

    .seacrch-results-container{
        min-height: 800px;
    }
}