{% extends 'base_profile.html' %}
{% load static %}
{% load i18n %}

{% block header_stuff %}
    <!-- Event snippet for verification ID conversion page -->
    <script>
    gtag('event', 'conversion', {'send_to': 'AW-855709588/DFVeCIbTyXkQlK-EmAM'});
    </script>
{% endblock %}

{% block content_profile %}
<div class="col-md-9">
    <h3>{% trans 'Identification step 1: documents scan uploading' %}</h3>


        <div class="row">
            <div class="col-lg-6">
                <p>{% blocktrans %}In order to provide top level trust and safety on this platform all guides
                    must be validated before money changes hands. We use onfido.com for face matching,
                    identity verification and document validity checks. These documents are encrypted and not used
                    for anything but identity verification.
                    {% endblocktrans %}
                </p>
                <br/>
                <p>
                    {% blocktrans %}Please add a photo of your passport(preferred and more reliable) or driving license.
                        Please make sure it is clear and in focus. If you do not see yourself verified please
                        reach out to customer support.
                    {% endblocktrans %}
                </p>

                <br>
                <h5>{% blocktrans %}Why it matters:{% endblocktrans %}</h5>
                <p>{% blocktrans %}Think about this for a moment. A stranger is hiring a stranger to show them around. As such
                    it’s nice to have peace of mind. Trusted profiles gain more views from tourists looking to
                    hire guides and give guides peace of mind they are meeting up with safe and respectful
                    tourists and vice versa.
                    {% endblocktrans %}
                </p>

            </div>
            {% if not document_uploaded or document_uploaded.status.id == 3 %}
                <div class="col-lg-6">

                    {% if document_uploaded.status.id == 3 %}
                        <p>
                            <div class="well">
                                {% blocktrans %}Your uploaded scan was rejected. Please upload it once again{% endblocktrans %}
                            </div>
                            <br>
                            {% if document_uploaded.comments %}
                                <b>{% blocktrans %}Comments: {% endblocktrans %}</b>
                                {{ document_uploaded.comments|safe }}
                            {% endif %}
                        </p>
                    {% endif %}

                    <form name="docs_form" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <fieldset class="verification-form">
                            <legend>{%  trans 'Registration Address' %}:</legend>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>{%  trans 'Country' %}*</label>
                                        <select class="form-control" name="registration_country" required>
                                            <option>{% trans 'Select a country' %}</option>
                                            {% for country in countries %}
                                                <option value="{{ country }}"
                                                        {% if country == general_profile.registration_country %}selected{% endif %}>
                                                    {{ country }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>{%  trans 'State' %}</label>
                                        <input class="form-control" name="registration_state"
                                               value="{{ general_profile.registration_state|default_if_none:"" }}">
                                    </div>
                                    <div class="col-lg-6">
                                        <label>{%  trans 'City' %}*</label>
                                        <input required class="form-control" name="registration_city"
                                               value="{{ general_profile.registration_city|default_if_none:"" }}">
                                    </div>
                                    <div class="col-lg-6">
                                        <label>{%  trans 'Street' %}</label>
                                        <input required class="form-control" name="registration_street"
                                               value="{{ general_profile.registration_street|default_if_none:"" }}">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>{%  trans 'Building' %}*</label>
                                        <input required class="form-control" name="registration_building_nmb"
                                               value="{{ general_profile.registration_building_nmb|default_if_none:"" }}">
                                    </div>
                                    <div class="col-lg-3">
                                        <label>{%  trans 'Flat' %}</label>
                                        <input class="form-control" name="registration_flat_nmb"
                                               value="{{ general_profile.registration_flat_nmb|default_if_none:"" }}">
                                    </div>
                                    <div class="col-lg-3">
                                        <label>{%  trans 'Postcode' %}</label>
                                        <input class="form-control" name="registration_postcode"
                                               value="{{ general_profile.registration_postcode|default_if_none:"" }}">
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="verification-form">
                            <legend>{% trans 'Uploading data' %}:</legend>
                            <div class="form-group">
                                <p>
                                    <b>{% trans 'Your date of birth' %}: </b>
                                    {{ request.user.generalprofile.date_of_birth|date:"d F Y" }}
                                </p>
                            </div>
                            <div class="form-group">
                                <select name="document_type" class="form-control" required>
                                    {% for document_type in document_types %}
                                        <option value="{{ document_type }}">{{ document_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="file" multiple name="file" required>
                            </div>
                        </fieldset>

                        <div class="form-group">
                            <input type="submit" name="uploading_docs_button" class="btn btn-primary"
                                   value="{% blocktrans %}submit{% endblocktrans %}">
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="col-lg-6">
                    {% if document_uploaded.status.id == 1 or is_just_uploaded %}
                        <div class="well">
                            <p>
                                {% blocktrans %}Your scan was successfully uploaded. Please proceed to
                                {% endblocktrans %}
                                <a href="{% url 'identity_verification_photo' %}">{% trans 'step' %} 2</a>
                            </p>
                        </div>
                    {% elif document_uploaded.status.id == 2 %}
                        <div class="well">
                            <p>{% blocktrans %}Your documents scans were successfully verified!{% endblocktrans %}</p>
                        </div>
                    {% endif %}

                    <div>
                        <a href="{% url 'identity_verification_photo' %}" class="btn btn-default">
                            {% trans 'Go to step 2' %}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
</div>
{% endblock content_profile %}


{% block js_stuff %}
{% endblock js_stuff %}