{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="container">
        <h1 class="page-title">{% blocktrans %}Contact Us{% endblocktrans %}</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p>
{#                However if you do feel it is required to contact us immediately please do call.#}
                    {% blocktrans %}If you are in need of assistance, please feel free to use one of the many ways to
                        contact us. We feel there are many questions and problems not requiring a phone call and we
                        reassure you that your emails and instant messages do not fall on deaf ears. We are available
                        during normal business hours, Monday through Friday, 9am to 5pm PST, however our messaging
                        system is live and active 24/7 and someone will respond during normal business hours.
                    {% endblocktrans %}
                </p>
                <form class="mt30" method="post">{% csrf_token %}
                    <script type="text/javascript"
                            src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
                    <style type="text/css" media="screen, projection">
                        @import url(https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css);
                    </style>
                    <iframe title="Feedback Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form"
                            src="https://tourzan.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&formTitle=Message&submitTitle=Send&submitThanks=Thank+you+for+your+feedback&screenshot=no&captcha=yes"
                            scrolling="no" height="500px" width="100%" frameborder="0">
                    </iframe>
                </form>
            </div>

            <div class="col-md-4">
                <aside class="sidebar-right">
                    <ul class="address-list list">
                        <li>
                            <h5>{% blocktrans %}Email{% endblocktrans %}</h5><a href="#">contactus@tourzan.com</a>
                        </li>
{#                        <li>#}
{#                            <h5>{% blocktrans %}Customer service number{% endblocktrans %}</h5><a href="#">#}
{#                            +1 (844)843-3815</a>#}
{#                        </li>#}
                        <li>
                            <h5>Telegram</h5><a href="https://t.me/joinchat/BgfaQELYvlGxb0t81mzymw">{% blocktrans %}
                            Tourzan public support chatroom{% endblocktrans %}</a>
                        </li>
                        <li>
                            <h5>{% blocktrans %}Address{% endblocktrans %}</h5>
                            <address>
                                Tourzan.com<br/>1037 NE 65th ST #80639<br/>
                                Seattle, WA 98115<br/>United States<br/>
                            </address>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="gap"></div>
    </div>
{% endblock %}




