{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block header_stuff %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">

    <!-- Event snippet for post guide register conversion page -->
    <script>
    gtag('event', 'conversion', {'send_to': 'AW-855709588/CoqrCN2q3XkQlK-EmAM'});
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="gap gap-small"></div>
                    {% include 'guides/guide_profile_edit_form.html' %}
                <div class="gap gap-small"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_stuff %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{% static 'js/custom_scripts/searching_scripts.js' %}"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4M-SKd4ihX9l4W5Dz4ZUWOqHG3seEGYw&libraries=places">
    </script>
    <script src="{% static 'js/custom_scripts/google_location_searching.js' %}"></script>
{% endblock js_stuff %}


