{% load static %}
{% load i18n %}


<div class="row">
    <div class="col-lg-4">
        <h4>{% blocktrans %}Guide Profile{% endblocktrans %}</h4>
    </div>
    {% if guide %}
        <div class="col-lg-3">
             <a href="{% url 'guide' guide.user.generalprofile.first_name guide.user.generalprofile.uuid %}">
                 {% blocktrans %}See Public Page{% endblocktrans %}
             </a>
        </div>
    {% endif %}
</div>
<form method="post" enctype="multipart/form-data" action="{% url 'profile_settings_guide' %}">{% csrf_token %}
    <div class="row">
        <div class="col-lg-7">
            {% if guide %}
               <div class="form-group">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" class=""
                                name="{{ form.is_active.html_name }}"
                                {% if form.is_active.value != False %}checked {% endif %}>
                            {% blocktrans %}Is visible{% endblocktrans %}
                        </label>
                        <br/>
                        {% if guide.is_active.value != True %}
                            <p><b>{% blocktrans %}Heads up: Any tours you created will remain visible even if you are not.{% endblocktrans %}</b></p>
                        {% endif %}
                        <label>
                        <input type="checkbox" class=""
                                name="{{ form.is_default_guide.html_name }}"
                                {% if form.is_default_guide.value %}checked {% endif %}>
                            {% blocktrans %}Guide profile is default when sign in{% endblocktrans %}
                        </label>
                    </div>
               </div>
            {% endif %}

            <div class="form-group form-group-icon-left">
                <label>{% blocktrans %}First Name{% endblocktrans %}*:</label>
                <span class="text-error">{{ form.first_name.errors }}</span>
                <div class="div-input-icon">
                    <i class="fa fa-lock input-icon"></i>
                    <input required class="form-control" id="first_name_input" name="first_name"
                    {% if request.POST.first_name %}
                        value="{{ request.POST.first_name }}"
                    {% elif guide and guide.first_name %}
                        value="{{ guide.first_name }}"
                    {% endif %}
                    >
                </div>
            </div>

            <div class="form-group form-group-icon-left">
                <label>{% blocktrans %}Last Name{% endblocktrans %}*:</label>
                <span class="text-error">{{ form.last_name.errors }}</span>
                <div class="div-input-icon">
                    <i class="fa fa-lock input-icon"></i>
                    <input required class="form-control" id="last_name_input" name="last_name"
                    {% if request.POST.last_name %}
                        value="{{ request.POST.last_name }}"
                    {% elif guide and guide.last_name %}
                        value="{{ guide.last_name }}"
                    {% endif %}
                    >
                </div>
            </div>

            <div class="form-group form-group-icon-left">
                <label>{% blocktrans %}City{% endblocktrans %}*:</label>
                <span class="text-error">{{ form.city_search_input.errors }}</span>
                <div class="div-input-icon">
                    <i class="fa fa-lock input-icon"></i>
                    <input required class="typeahead form-control" id="city_search_input" name="city_search_input"
                    {% if request.POST.city_search_input %}
                        value="{{ request.POST.city_search_input }}"
                    {% elif guide and guide.city and guide.city.full_location %}
                        value="{{ guide.city.full_location }}"
                    {% endif %}
                    >
                    <input required id="place_id" name="place_id" class="hidden"
                        {% if request.POST.place_id %}
                            value="{{ request.POST.place_id }}"
                        {% elif guide and guide.city and guide.city.place_id %}
                            value="{{ guide.city.place_id }}"
                        {% endif %}
                    >
                </div>
            </div>

            <div class="form-group form-group-icon-left">
                <label>{% blocktrans %}Hourly rate{% endblocktrans %}, {% blocktrans %}USD/hour{% endblocktrans %} *:
                    <span class="text-error">{{ form.rate.errors }}</span>
                </label>
                <div class="div-input-icon">
                    <i class="fa fa-money input-icon"></i>
                    <input required type="number" min="0" step="1" name="{{ form.rate.html_name }}" class="form-control w100"
                        {% if request.POST.rate %}
                           value="{{ request.POST.rate|safe }}"
                        {% elif guide %}
                           value="{{ guide.rate|safe }}"
                        {% endif %}
                    >
                </div>
            <strong>{% blocktrans %}Please keep in mind that we charge a 13% service fee and our payout processor
                might also charge a processing fee. Please charge for services accordingly.
            {% endblocktrans %}</strong>
            </div>

            <div class="form-group form-group-icon-left">
                <label>{% blocktrans %}Min hours{% endblocktrans %}*:
                    <span class="text-error">{{ form.min_hours.errors }}</span>
                </label>
                <div class="div-input-icon">
                    <i class="fa fa-clock-o input-icon"></i>
                    <input required type="number" min="1" step="1" name="{{ form.min_hours.html_name }}"
                           class="form-control w100"
                        {% if request.POST.rate %}
                           value="{{ request.POST.min_hours|safe }}"
                        {% elif guide %}
                           value="{{ guide.min_hours|safe }}"
                        {% endif %}
                    >
                </div>
            </div>

            <div class="form-group form-group-icon-left">
                <label>{% blocktrans %}Date of birth{% endblocktrans %}*:</label>
                <span class="text-error">{{ form.date_of_birth.errors }}</span>
                <div class="div-input-icon">
                    <i class="fa fa-lock input-icon"></i>
                    <input required class="form-control datepicker-date" data-date-format="mm.dd.yyyy"
                           id="date_of_birth"
                           name="date_of_birth"
                           {% if request.POST.date_of_birth %}
                                value="{{ request.POST.date_of_birth }}"
                           {% else %}
                                value="{{ user.generalprofile.date_of_birth|date:'m.d.Y' }}"
                           {% endif %}
                    >
                </div>
            </div>

            <div class="form-group">
                <label>{% blocktrans %}Interests{% endblocktrans %}*:</label>

                <select required multiple class="form-control select2"
                    id="interest_input" name="interests"
                    data-search_url="{% url 'search_interest' %}"
                >
                    {% for user_interest in user_interests %}
                        <option value="{{ user_interest.interest.name }}" selected>{{ user_interest.interest.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group form-group-icon-left">
                <label>{% blocktrans %}Overview{% endblocktrans %}*:</label>
                <span class="text-error">{{ form.overview.errors }}</span>
                <div class="div-input-icon">
                    <i class="fa fa-envelope input-icon"></i>
                    <textarea required rows="5" maxlength="50000"
                              placeholder="Write here some info about yourself (5000 characters limit)"
                              name="{{ form.overview.html_name }}" class="form-control" >{% if form.overview.value %}{{ form.overview.value }}{% endif %}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label>{% blocktrans %}Native Language{% endblocktrans %} *:</label>
                <select required class="form-control select2"
                    id="language_native" name="language_native"
                    data-search_url="{% url 'search_language' %}"
                >
                    {% if user_language_native %}
                        <option value="{{ user_language_native.language}}" selected>
                            {{ user_language_native.get_language_display}}
                        </option>
                    {% endif %}
                </select>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>{% blocktrans %}Second Language{% endblocktrans %}:</label>
                        <select class="form-control select2" id="language_second" name="language_second">
                            {% if user_language_second %}
                                <option value="{{ user_language_second.language}}" selected>
                                    {{ user_language_second.get_language_display}}
                                </option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label>{% blocktrans %}Proficiency{% endblocktrans %}:</label>
                        <select class="form-control select2"
                            id="language_second_proficiency" name="language_second_proficiency"
                        >
                            <option selected>{% blocktrans %}Select level{% endblocktrans %}</option>
                            {% for language_level in language_levels %}
                                <option value="{{ language_level.id }}"
                                        {% if language_level.id == user_language_second.level.id %}selected="selected"{% endif %}
                                >
                                    {{ language_level.name }}
                                </option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
            </div>

            <p class="lead">{% blocktrans %}Additional services{% endblocktrans %}:</p>

            <p>
                {% blocktrans %}Selected services{% endblocktrans %}:
            </p>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for guide_service in guide_services %}
                        <tr class="service_item_container">

                            <td>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" class="service-name-checkbox"
                                            name="service_{{ guide_service.service.html_field_name }}"
                                          checked
                                      > {{ guide_service.service.name }}
                                    </label>
                                </div>
                            </td>

                            <td>
                                <div class="form-group form-group-icon-left service-price
                                ">
                                    <i class="fa fa-money input-icon"></i>
                                    <input type="number" step="1" name="serviceprice_{{ guide_service.service.html_field_name }}"
                                           class="form-control w100"
                                           {% if guide_service.price %}
                                               value="{{ guide_service.price|safe }}"
                                           {% else %}
                                                value="0"
                                           {% endif %}
                                    >
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p>
                {% blocktrans %}Other services{% endblocktrans %}:
            </p>

            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}

                        {% if not service.id in guide_services_ids %}
                            <tr class="service_item_container">

                                <td>
                                    <div class="checkbox">
                                        <label>
                                          <input type="checkbox" class="service-name-checkbox"
                                                name="service_{{ service.html_field_name }}"
                                          > {{ service.name }}
                                        </label>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group form-group-icon-left service-price
                                        hidden
                                    ">
                                        <i class="fa fa-money input-icon"></i>
                                        <input type="number" step="1" name="serviceprice_{{ service.html_field_name }}"
                                               class="form-control w100"
                                               value="0"
                                        >
                                    </div>
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <h4>{% blocktrans %}Avatar{% endblocktrans %}</h4>
            {% if user.guideprofile and user.guideprofile.profile_image %}
                <div>
                    <img src="{{ user.guideprofile.profile_image.url }}" class="img-responsive img-rounded">
                </div>
                <div class="form-group">
                    <label>{% blocktrans %}Upload New Avatar Image{% endblocktrans %}:</label>
                    <span class="text-error">{{ form.profile_image.errors }}</span>
                    <input type="file" name="{{ form.profile_image.html_name }}">
                </div>
            {% else %}
                <div>
                    <img src="{% static 'img/300x300.png' %}" alt="" title="">
                </div>
                <div class="form-group">
                    <label>{% blocktrans %}Upload New Avatar Image{% endblocktrans %} *:</label>
                    <span class="text-error">{{ form.profile_image.errors }}</span>
                    <input required type="file" name="{{ form.profile_image.html_name }}">
                </div>
            {% endif %}
            <hr>
            <input type="submit" class="btn btn-primary" value="Save Changes">
            <br/><br/>
            <p class="lead">{% blocktrans %}Reminder:{% endblocktrans %}<br/></p>
            <strong>{% blocktrans %}Your schedule must be set in order for tourists to book you out. Make sure it reflects
                your current availability.{% endblocktrans %}</strong>
            <br><br>
            <h4>{% blocktrans %}Guide License{% endblocktrans %}</h4>
            {% if user.guideprofile and user.guideprofile.license_image %}
                <div>
                    <img src="{{ user.guideprofile.license_image.url }}" class="img-responsive img-rounded">
                </div>
                <div class="form-group">
                    <label>{% blocktrans %}Upload new guide license{% endblocktrans %}:</label>
                    <span class="text-error">{{ form.license_image.errors }}</span>
                    <input type="file" name="{{ form.license_image.html_name }}">
                </div>
            {% else %}
                <div>
                    <img src="{% static 'img/300x300.png' %}" alt="" title="">
                </div>
                <div class="form-group">
                    <label>{% blocktrans %}Upload Guide License{% endblocktrans %}:</label>
                    <span class="text-error">{{ form.profile_image.errors }}</span>
                    <input type="file" name="{{ form.license_image.html_name }}">
                </div>
            {% endif %}
        </div>
    </div>
</form>
