{% load static %}
{% load stars_rating %}

<li>
    <div class="booking-item booking-item-small">
        <div class="row">
            <div class="col-xs-4">
                <img {% if tour.image %}
                        src="{% get_media_prefix %}{{ tour.image }}"
                     {% else %}
                        src="{% static 'img/300x300.png' %}"
                     {% endif %}
                     alt="{{ tour.name }}" title="{{ tour.name }}" />
                Rating: {{ tour.rating }}
            </div>
            <div class="col-xs-4">
                <h5 class="booking-item-title">{{ tour.name }}</h5>


                <ul class="icon-group booking-item-rating-stars">
                    {{ tour.rating|rendering_stars|safe }}
                </ul>
            </div>
            <div class="col-xs-4 text-center">
                <p class="booking-item-price">
                    {% if tour.price %}
                        {{ tour.price }} {{ tour.currency.name }}
                    {% elif tour.price_hourly %}
                        {{ tour.price_hourly }} {{ tour.currency.name }} per hour
                    {% else %}
                        free!
                    {% endif %}
                </p>
                <p>
                    <a href="{% url 'tour' tour.slug tour.id %}" class="btn btn-primary btn-xs">
                        Go to Tour
                    </a>
                </p>
            </div>
        </div>
    </div>
</li>