{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load stars_rating %}


{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">{% blocktrans %}Home{% endblocktrans %}</a>
            </li>
{#            <li><a href="/">Some country</a>#}
            <li><a href="{% url 'tours' %}?city_input={{ tour.city.original_name }}">{{ tour.city.original_name }}</a>
            </li>
            <li>
                <a href="{% url 'guide' tour.guide.user.generalprofile.first_name tour.guide.user.generalprofile.uuid %}">{{ tour.guide.user.generalprofile.first_name }}</a>
            </li>
            <li class="active">{{ tour.name }}</li>
        </ul>

        <div class="booking-item-details">
            <header class="booking-item-header">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="lh1em">{{ tour.name }}</h2>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col-md-8 mb10">
                    {% if current_order.status.id == 5 %}
                        <a class="btn btn-primary btn-sm popup-text btn-order-review" href="#writing_feedback_modal"
                        data-effect="mfp-zoom-out" data-order_id="{{ current_order.id }}">
                            {% blocktrans %}Write Review{% endblocktrans %}
                        </a>
                    {% endif %}
                    <a href="{% url 'chat_creation_tour' tour.id %}" class="btn btn-default btn-sm">
                        {% blocktrans %}Send Message{% endblocktrans %}
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-width="100%">
                        {% for tour_image in tours_images %}
                            <img src="{% get_media_prefix %}{{ tour_image.image }}" alt="Image for {{ tour.name }}"
                                 class="img-responsive"
                                 title="Image for {{ tour.name }}" />
                        {% endfor %}
                    </div>
{#                    <!-- START LIGHTBOX GALLERY -->#}
{#                    <div class="row row-no-gutter" id="popup-gallery">#}
{#                        {% for tour_image in tours_images %}#}
{#                            <div class="col-md-3">#}
{#                                <a class="hover-img popup-gallery-image" href="{% get_media_prefix %}{{ tour_image.image }}"#}
{#                                   data-effect="mfp-zoom-out">#}
{#                                    <img src="{% get_media_prefix %}{{ tour_image.image }}"#}
{#                                         alt="Image for {{ tour.name }}"#}
{#                                         title="Image for {{ tour.name }}" />#}
{#                                    <i class="fa fa-plus round box-icon-small hover-icon i round"></i>#}
{#                                </a>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
                    <!-- END LIGHTBOX GALLERY -->
                    <div class="booking-item-meta">
                        {% if tour.overview  %}
                            {{ tour.overview|linebreaks }}
                        {% else %}
                            <p class="lead">{% blocktrans %}No tour overview so far...{% endblocktrans %}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="booking-item-meta">
                        {% if not tour.rating %}
                            <h2 class="lh1em">{% blocktrans %}New!{% endblocktrans %}</h2>
                        {% else %}
                            <h2 class="lh1em">{% blocktrans %}Exeptional!{% endblocktrans %}</h2>
    {#                        <h3>97% <small >of guests recommend</small></h3>#}
                            <div class="booking-item-rating">
                                <ul class="icon-list icon-group booking-item-rating-stars">
                                    {{ tour.rating|rendering_stars|safe }}
                                </ul>
                                <span class="booking-item-rating-number"><b >{{ tour.rating}}</b> {% blocktrans %}of{% endblocktrans %} 5
                                    <small class="text-smaller">{% blocktrans %}rating{% endblocktrans %}</small></span>
    {#                            <p><a class="text-default" href="#">based on 1535 reviews</a>#}
    {#                            </p>#}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="gap gap-small"></div>


            <div class="row row-wrap">
                <div class="col-md-8">
                    <div class="booking-item-dates-change">
                        <div class="booking-result-message alert hidden">
                            <button type="button" class="close close-alert" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="message-text"></div>
                        </div>
                        <form method="post" id="form_tour_scheduling" action="{% url 'making_booking' %}"
                            class="form-horizontal schedule-form
                        {% if request.user.is_anonymous %}user-not-authorized{% endif %}">{% csrf_token %}

                            <input class="hidden" value="{{ guide.id }}" name="guide_id" id="guide_id">
                            <input class="hidden" id="time_slots_chosen" name="time_slots_chosen">
                            <input class="hidden" id="booking_hours" name="booking_hours">
                            <input class="hidden" id="minimum_hours" name="minimum_hours" value="{{ tour.min_hours }}">

                            <h3 class="text-center">
                                {% blocktrans %}Book{% endblocktrans %} {{ tour.name }}
                            </h3>

                            {% if current_order %}
                                <div id="current_booking_area" class="text-center">
                                    {% blocktrans %}You have already booked this tour{% endblocktrans %}
                                    <a href="" id="book_more">{% blocktrans %}book more{% endblocktrans %}</a>
                                    or
                                    <a href="{% url 'my_bookings' %}?tour_id={{ tour.id }}">{% blocktrans %}Edit{% endblocktrans %}</a>
                                </div>
                            {% endif %}

                            <div id="booking_form_area" class="{% if current_order %}hidden{% endif %}">

                                <div class="input-daterange" data-date-format="mm.dd.yyyy">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon"></i>
                                                <label>{% blocktrans %}Booking a tour date:{% endblocktrans %}</label>
                                                <input class="form-control d_picker" id="booking_date" name="start"
                                                       type="text" required value="{% now "mm.dd.yyyy" %}" />
                                            </div>
                                        </div>
                                        <div class="col-md-8 text-center">
                                            <p>Time slots:</p>
                                            <div id="booking_form_error_container"></div>
                                            <div id="time_slots" class="time-slots-container"
                                                 data-link="{% url 'available_date_timeslots' %}"></div>
                                        </div>

                                        <div class="col-lg-12 text-center">
                                            <button class="btn btn-primary btn-lg btn-booking submit-button">{% blocktrans %}Book Now{% endblocktrans %}</button>
                                        </div>
                                    </div>

                                    <input class="hidden" id="tour_id" value="{{ tour.id }}" name="tour_id">

                                    {% if tour.payment_type.id == 1 %}
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <p id="amount_container" class="lead hidden">
                                                    {% blocktrans %}Rate{% endblocktrans %}:
                                                    <b><span id="amount">{{ tour.price_hourly|safe }}</span>
                                                    {{ tour.currency.name }} {% blocktrans %}per hour{% endblocktrans %}
                                                    </b>
                                                </p>
                                                <p>
                                                    {% blocktrans %}Minimum{% endblocktrans %} {{ tour.min_hours }}
                                                    {% blocktrans %}hours{% endblocktrans %}
                                                </p>
                                            </div>
                                        </div>
                                    {% else %}
                                        <input class="hidden" value="{{ tour.price }}" name="price">
                                    {% endif %}
                                </div>

                            </div><!--end of booking area -->

                        </form>
                    </div>

                    <div class="review-container">
                        <div class="gap gap-small"></div>

                        <h3 class="mb20">{% blocktrans %}Reviews{% endblocktrans %}</h3>

                        {% if reviews %}
                            <ul class="booking-item-reviews list">
                                {% for review in reviews %}
                                    {% include 'users/review_representation_guide.html' %}
                                {% endfor %}
                             </ul>
                        {% else %}
                            <p>{% blocktrans %}No reviews so far...{% endblocktrans %}</p>
                        {% endif %}

                        {% if reviews.has_other_pages %}
                            <div class="row wrap">
                                <div class="col-md-5">
                                    <p>
                                        <small>{{ reviews_total_nmb }} {% blocktrans %}reviews for this tour{% endblocktrans %}.</small>
                                    </p>
                                </div>
                                <div class="col-md-7">
                                    <ul class="pagination">
                                        {% if reviews.has_previous %}
                                            <li class="next"><a href="?page={{ reviews.previous_page_number }}">Previous Page</a>
                                            </li>
                                        {% endif %}
                                        {% for i in reviews.paginator.page_range %}
                                            {% if reviews.number == i %}
                                                <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                                              {% else %}
                                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                              {% endif %}
                                        {% endfor %}
                                        {% if reviews.has_next %}
                                            <li class="next"><a href="?page={{ reviews.next_page_number }}">Next Page</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        <div class="gap gap-small"></div>
{#                        <div class="box bg-gray" id="write_review">#}
{#                            {% if not user.is_authenticated %}#}
{#                               <p>Please  <a href="{% url 'login' %}?next={{ request.path }}">login </a> to leave a review</p>#}
{#                            {% else %}#}
{#                                <h3>{% blocktrans %}Write a Review{% endblocktrans %}</h3>#}
{#                                <form method="post">{% csrf_token %}#}
{#                                    <div class="row">#}
{#                                        <div class="col-md-8">#}
{#                                            <div class="form-group">#}
{#                                                <label>{% blocktrans %}Review Title{% endblocktrans %}</label>#}
{#                                                <input class="form-control" type="text" name="name" />#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <label>{% blocktrans %}Review Text{% endblocktrans %}</label>#}
{#                                                <textarea class="form-control" rows="6" name="text"></textarea>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-md-4">#}
{#                                            <ul class="list booking-item-raiting-summary-list stats-list-select">#}
{#                                                <li>#}
{#                                                    <div class="booking-item-raiting-list-title">Sleep</div>#}
{#                                                    <ul class="icon-group booking-item-rating-stars">#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                    </ul>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <div class="booking-item-raiting-list-title">Location</div>#}
{#                                                    <ul class="icon-group booking-item-rating-stars">#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                    </ul>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <div class="booking-item-raiting-list-title">Service</div>#}
{#                                                    <ul class="icon-group booking-item-rating-stars">#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                    </ul>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <div class="booking-item-raiting-list-title">Clearness</div>#}
{#                                                    <ul class="icon-group booking-item-rating-stars">#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                    </ul>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <div class="booking-item-raiting-list-title">Rooms</div>#}
{#                                                    <ul class="icon-group booking-item-rating-stars">#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                        <li><i class="fa fa-smile-o"></i>#}
{#                                                        </li>#}
{#                                                    </ul>#}
{#                                                </li>#}
{#                                            </ul>#}
{#                                            <input class="btn btn-primary" type="submit" value="Leave a Review" />#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </form>#}
{#                            {% endif %}#}
{#                        </div>#}
                    </div>
                </div>

                <div class="col-md-4">
                    <h3 class="mb20">
                        {% blocktrans %}Other Tours of{% endblocktrans %} {{ guide.user.generalprofile.first_name }}
                    </h3>

                    {% if other_tours %}

                        <ul class="booking-list">
                            {% for tour in other_tours %}
                                {% if forloop.counter <= 5 %}
                                    {% include 'guides/tour_items_representation.html' %}
                                {% endif %}
                            {% endfor %}
                            {% if other_tours_nmb > 5 %}
                                <div class="text-center">
                                    <a href="{% url 'tours' %}?guide_input={{ guide.user.username }}" class="btn btn-success">
                                        {% blocktrans %}See more{% endblocktrans %}
                                    </a>
                                </div>
                            {% endif %}
                        </ul>
                    {% else %}
                        <p>
                            {% blocktrans %}No tours so far{% endblocktrans %}...
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="gap gap-small"></div>
    </div>

{% endblock %}

{% block js_stuff %}
    <script>
        $(document).ready(function(){

            function gettingTimeSlotsForDate(){
                data = {};
                var csrf_token = $('#csrf_getting_form [name="csrfmiddlewaretoken"]').val();
                data["csrfmiddlewaretoken"] = csrf_token;
                data["booking_date"] = $('#booking_date').val();
                data["guide_id"] = $('#guide_id').val();
                var url = $('#time_slots').data('link');
                $.ajax({
                     url: url,
                     type: 'POST',
                     data: data,
                     cache: true,
                     success: function(data){
                         time_slots_container = $('#time_slots');

                         $('#booking_form_error_container').html("");
                         time_slots_container.html("");

                         console.log(data);
                         available_time_slots = data.available_time_slots;
                         console.log(available_time_slots);

                         if (available_time_slots.length > 0){
                             console.log("111");
                             $.each(available_time_slots, function(index, el){
                                slot_time_from = el.calendar_item__time_from.split("T")[1].substr(0, 5);
                                slot_time_to = el.calendar_item__time_to.split("T")[1].substr(0, 5);
                                time_slots_container.append("<div class='time-slot' data-guide_time_slot='"+el.id+"'>"+slot_time_from+"-"+slot_time_to+"</div>")
                             })
                         }else{
                             console.log("else");
                             $('#booking_form_error_container').html("<div class='text-black text-center text-error'>" +
                                     "There are no available time slots for this date. <br>" +
                                     "Please select another date.</div>")
                         }
                     }
                })
            }

            $('.d_picker').datepicker({
                todayHighlight: true,
                format: "mm.dd.yyyy",
                weekStart: 1
            }).datepicker("setDate", new Date()).on("changeDate", function(e) {
                // `e` here contains the extra attributes
                gettingTimeSlotsForDate();
            });

            gettingTimeSlotsForDate();

            $(document).on("click", '.time-slots-container .time-slot', function(){
                $(this).toggleClass("chosen");
            })

        })
    </script>
{% endblock js_stuff %}


