{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load utils_tags %}

{% block header_stuff %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">{% blocktrans %}Home{% endblocktrans %}</a>
            </li>
            <li class="active">
                <a href="{% url 'my_bookings' %}">
                    {% blocktrans %}Tours{% endblocktrans %}
                </a>
            </li>
        </ul>
        <h3 class="booking-title">
            {% if tours_nmb == 0 %}
                {% blocktrans %}No tours were found{% endblocktrans %}
            {% elif tours_nmb == 1 %}
                {{ tours_nmb }}  {% blocktrans %}tours was found!{% endblocktrans %}
            {% elif tours_nmb > 1 %}
                {{ tours_nmb }} {% blocktrans %}tours were found{% endblocktrans %}
            {% else %}
                {% blocktrans %}No tours were found{% endblocktrans %}
            {% endif %}

        </h3>
        <div class="row">
            <div class="col-md-3">
                <aside class="booking-filters text-white">
                    <h3>{% blocktrans %}Filter By:{% endblocktrans %}</h3>
                    <form id="filtering_form" name="filtering_form" method="get" action="">
                        <input id="order_results_input" name="order_results" class="hidden"
                               value="{% if request.GET.order_results %}{{ request.GET.order_results }}{% endif %}">
                        <ul class="list booking-filters-list">
                            <li>
                                <h5 class="booking-filters-title">{% blocktrans %}City{% endblocktrans %}</h5>
                                <input id="city_search_input" class="form-control"
                                    {% if city_from_place_id %}
                                        value="{{ city_from_place_id }}"
                                    {% endif %}
                                >
                                <input id="place_id" name="place_id" class="hidden"
                                    {% if place_id %}
                                        value="{{ place_id }}"
                                    {% endif %}
                                >
                            </li>
                            <li>
                                <h5 class="booking-filters-title">{% blocktrans %}Guide{% endblocktrans %}</h5>

                                <select class="form-control select2" id="guide_input" name="guide_input"
                                        data-search_url="{% url 'search_guide' %}">
                                    {% if request.GET.guide_input %}
                                        <option value="{{ request.GET.guide_input }}" selected>{{ request.GET.guide_input }}</option>
                                    {% endif %}
                                </select>
                            </li>
                            <li>
                                <h5 class="booking-filters-title">{% blocktrans %}Price per hour{% endblocktrans %}</h5>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" name="is_hourly_price_included"
                                        {% if request.GET.is_hourly_price_included or not request.GET %} checked {% endif %}
                                        >
                                        {% blocktrans %}Include hourly price offers{% endblocktrans %}
                                    </label>
                                </div>
                                <input type="text" id="price-slider-1" name="hourly_price"
                                       data-min="{{ request.session.tours_rate_hourly_min }}"
                                       data-max="{{ request.session.tours_rate_hourly_max }}"
                                       {% if request.GET.hourly_price %}
                                            value="{{ request.GET.hourly_price }}"
                                            data-from="{{ hourly_price_min }}"
                                            data-to="{{ hourly_price_max }}"
                                       {% endif %}
                                >
                            </li>
                            <li>
                                <h5 class="booking-filters-title">{% blocktrans %}Fixed price {% endblocktrans %}</h5>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" name="is_fixed_price_included"
                                        {% if request.GET.is_fixed_price_included or not request.GET %} checked {% endif %}
                                        >
                                        {% blocktrans %}Include fixed-prices offers{% endblocktrans %}
                                    </label>
                                </div>
                                <input type="text" id="price-slider-2" name="fixed_price"
                                       data-min="{{ request.session.tours_rate_fixed_min }}"
                                       data-max="{{ request.session.tours_rate_fixed_max }}"
                                       {% if request.GET.fixed_price %}
                                            value="{{ request.GET.fixed_price }}"
                                            data-from="{{ fixed_price_min }}"
                                            data-to="{{ fixed_price_max }}"
                                       {% endif %}
                                >
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" name="is_free_offers_included"
                                        {% if request.GET.is_free_offers_included or not request.GET %} checked {% endif %}
                                        >
                                        {% blocktrans %}Include FREE offers{% endblocktrans %}
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" name="is_company"
                                        {% if not request.GET.is_company and request.GET.filter_form_data %}
                                                        {% else %}
                                                        checked {% endif %}
                                        >
                                        {% blocktrans %}Include tours through companies{% endblocktrans %}
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" name="is_verified"
                                                {% if not request.GET.is_verified and request.GET.filter_form_data %}
                                                   {% else %}
                                                   checked {% endif %}
                                        >
                                        {% blocktrans %}Show tours from verified guides{% endblocktrans %}
                                    </label>
                                </div>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-primary btn-block" name="filter_form_data" value="True">
                                    {% blocktrans %}Apply{% endblocktrans %}</button>
                            </li>
                        </ul>
                     </form>
                </aside>
            </div>
            <div class="col-md-9">
                {% if tours %}
                    <div class="nav-drop booking-sort">
                        {% with request.GET.order_results as order_results %}
                            <h5 class="booking-sort-title">
                                {% if not order_results or order_results == "price" %}
                                    <a href="#">{% blocktrans %}Sort: Price (low to high){% endblocktrans %}<i class="fa fa-angle-up"></i><i class="fa fa-angle-down"></i></a>
                                {% elif order_results == "-price" %}
                                    <a href="#">{% blocktrans %}Sort: Price (high to low){% endblocktrans %}<i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i></a>
                                {% elif order_results == "rating" %}
                                    <a href="#">{% blocktrans %}Sort: Rating (low to high){% endblocktrans %}<i class="fa fa-angle-up"></i><i class="fa fa-angle-down"></i></a>
                                {% elif order_results == "-rating" %}
                                    <a href="#">{% blocktrans %}Sort: Rating (high to low){% endblocktrans %}<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                                {% endif %}
                            </h5>
                            <ul class="nav-drop-menu" id="sorting_area">
                                {% if order_results and order_results != "price" %}
                                    <li><a href="#" data-order_value="price">{% blocktrans %}Price (low to high){% endblocktrans %}</a>
                                    </li>
                                {% endif %}
                                {% if order_results != "-price" %}
                                    <li><a href="#" data-order_value="-price">{% blocktrans %}Price (high to low){% endblocktrans %}</a>
                                    </li>
                                {% endif %}
                                {% if order_results != "rating" %}
                                    <li><a href="#" data-order_value="rating">{% blocktrans %}Rating (low to high){% endblocktrans %}</a>
                                    </li>
                                {% endif %}
                                {% if order_results != "-rating" %}
                                    <li><a href="#" data-order_value="-rating">{% blocktrans %}Rating (high to low){% endblocktrans %}</a>
                                    </li>
                                {% endif %}

                            </ul>
                        {% endwith %}
                    </div>
                {% endif %}
                <ul class="booking-list">
                    {% for tour in tours %}
                    <li>
                        <div class="tour-item">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="booking-item-img">
                                        <a href="{% url 'tour' tour.slug tour.id %}">
                                            {% if tour.image_small %}
                                                <img src="{{ tour.image_small.url }}"/>
                                            {% elif tour.image %}
                                                <img src="{{ tour.image.url }}"/>
                                            {% else %}
                                                <img src="{% static 'img/default_tour_image.jpg' %}">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-5">
                                    <div class="tour-name">
                                        {{ tour.name }}
                                    </div>
                                    <div class="tour-guide-name">
                                        by {{ tour.guide.user.generalprofile.first_name }}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ tour.overview|linebreaks|truncatewords_html:30 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-4">
                                    <div class="tour-rating">
                                        <b>{% blocktrans %}Rating: {% endblocktrans %}</b> {{ tour.rating }}
                                    </div>
                                    <p class="tour-price">
                                        <b>{% blocktrans %}Price: {% endblocktrans %}</b>
                                        {% if tour.payment_type_id == 1 %}
                                            {{ tour.price_hourly }} {{ tour.currency.name }} / hour
                                        {% elif tour.payment_type_id == 2 %}
                                            {{ tour.price }} {{ tour.currency.name }}
                                        {% elif tour.payment_type_id == 3 %}
                                            {% blocktrans %}Free!{% endblocktrans %}
                                        {% endif %}
                                        <br>
                                        {% if tour.min_hours %}
                                             <b>{% blocktrans %}Min hours:{% endblocktrans %}</b> {{ tour.min_hours }}
                                        {% endif %}
                                    </p>
                                    <p>
                                        <a href="{% url 'tour' tour.slug tour.id %}" class="btn btn-primary">
                                            {% blocktrans %}Go to Tour{% endblocktrans %}
                                        </a>
                                    </p>
                                    {% if tour.guide.user.generalprofile.is_verified %}
                                        <p>
                                            <b>{% trans 'Guide is verified' %}</b>
                                        </p>
                                    {% endif %}
                                    {% if tour.guide.user.generalprofile.is_trusted %}
                                        <p>
                                            <b>{% trans 'Guide is trusted' %}</b>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

                <div class="row">
                    <div class="col-md-6">
                        {% if tours.has_other_pages %}
                            <ul class="pagination">
                                {% if tours.has_previous %}
                                    <li class="next"><a href="?{% url_replace page=tours.previous_page_number %}">{% trans 'Previous Page' %}</a>
                                    </li>
                                {% endif %}
                                {% for i in tours.paginator.page_range %}
                                    {% if tours.number == i %}
                                        <li class="active"><a href="?{% url_replace page=i %}">{{ i }}</a></li>
                                      {% else %}
                                        <li><a href="?{% url_replace page=i %}">{{ i }}</a></li>
                                      {% endif %}
                                {% endfor %}
                                {% if tours.has_next %}
                                    <li class="next"><a href="?{% url_replace page=tours.next_page_number %}">{% trans 'Next Page' %}</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>
{% endblock %}

{% block js_stuff %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{% static 'js/custom_scripts/searching_scripts.js' %}"></script>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4M-SKd4ihX9l4W5Dz4ZUWOqHG3seEGYw&libraries=places">
    </script>
    <script src="{% static 'js/custom_scripts/google_location_searching.js' %}"></script>
{% endblock js_stuff %}