{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container">

        <div class="booking-item-details">

            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-width="100%">
                                {% for travel_photo in travel_photos %}
                                    <img src="{% get_media_prefix %}{{ travel_photo.image }}" alt=""
                                         class="img-responsive"
                                         title="" />
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="gap gap-small"></div>

                    <div class="row">
                        <div class="col-md-4">
                            {% if tourist.image %}
                                <img src="{{ tourist.image.url }}" class="img-responsive">
                            {% endif %}

                            <div class="gap gap-small"></div>
                            <h3>{% trans 'Interests' %}</h3>
                            {% if user.userinterest_set.all %}
                                {% for item in user.userinterest_set.all %}
                                    <span class="label label-default label-tag">
                                        {{ item.interest.name }}
                                    </span>
                                {% endfor %}
                            {% else %}
                                <p>{% trans 'No interests' %}</p>
                            {% endif %}
                            <div class="gap gap-small"></div>

                        </div>
                        <div class="col-md-8">
                            <h3>
                                {% if tourist.user.generalprofile.first_name %}
                                    {{ tourist.user.generalprofile.first_name }}
                                {% else %}
                                    {{ tourist.user.first_name }}
                                {% endif %}
                            </h3>
                            {% if tourist.about %}
                                <p>{{ tourist.about|safe|linebreaks }}</p>
                            {% else %}
                                <p>{% trans 'Some description will be here' %}</p>
                            {% endif %}

                        </div>
                    </div>

                    <div class="gap gap-small"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="mb20">{% trans 'Reviews' %}</h3>
                            {% if reviews %}
                                <ul class="booking-item-reviews list">
                                    {% for review in reviews %}
                                        {% include 'users/review_representation_tourist.html' %}
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>{% trans 'No reviews so far' %}...</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="mb20">{% trans 'Tours' %}</h3>
                    {% if tours %}
                        <ul class="booking-list">
                            {% for order in orders %}
                                {% include 'order_tour_item_representation.html' %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>{% trans 'No tours so far' %}...</p>
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="gap gap-small"></div>

    </div>

{% endblock %}


