{% load static %}
{% load i18n %}

<li>
    <div class="booking-item">
        <div class="row">
            <div class="col-md-3">
                <div class="booking-item-img">
                    {% if order.guide.profile_image %}
                        <img src="{% get_media_prefix %}{{ order.guide.profile_image }}"/>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <h3>
                    {{ order.guide.user.generalprofile.first_name }}
                </h3>
                <div class="row">
                    <div class="col-md-12">
                        {{ order.guide.overview|safe|linebreaks|truncatewords_html:30 }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb10">
                        <div><b>Interests:</b></div>
                        {% for user_interest in order.guide.user.userinterest_set.all %}
                            {% if user_interest.interest.name in interest_input %}
                                <span class="label label-success label-tag">
                                    {{ user_interest.interest.name }}
                                </span>
                            {% else %}
                                <span class="label label-default label-tag">
                                    {{ user_interest.interest.name }}
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% with order.guide.user.userlanguage_set.all as user_languages %}
                    {% if user_languages %}
                        <div class="row">
                            <div class="col-md-12 mb10">
                                <div><b>Languages:</b></div>
                                {% for user_language in user_languages %}
                                    {% if user_language.language in language_input %}
                                        <span class="label label-success label-tag">
                                            {{ user_language.get_language_display }}
                                        </span>
                                    {% else %}
                                        <span class="label label-default label-tag">
                                            {{ user_language.get_language_display }}
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}

            </div>

            <div class="col-md-3">
                <p>
                    <b>Status: </b>{{ order.status.name }}
                </p>
                <p>
                    <b>Booked: </b>{{ order.date_ordered|date:"m.d.Y" }}
                </p>
                <p>
                    <b>Booked for: </b>{{ order.date_booked_for|date:"m.d.Y" }}
                </p>
                <p>
                    <b>Payment: </b>
                    {% if order.payment_status.id == 1 %}
                        no payment yet
                    {% elif order.payment_status.id == 2 or order.payment_status.id == 3 %}
                        {% if order.payment %}
                            {{ order.payment.amount }} {{ order.payment.currency.name }}
                        {% else %}
                            0 {{ order.currency.name }}
                        {% endif %}
                        (reserved)
                    {% elif order.payment_status.id == 4 %}
                        {% if order.payment %}
                            {{ order.payment.amount }} {{ order.payment.currency.name }}
                        {% else %}
                            0 {{ order.currency.name }}
                        {% endif %}
                        (paid)
                    {% else %}
                        no payment yet
                    {% endif %}
                </p>
                <p>
                    {% if order.tour %}
                        <a href="{% url 'tour' order.tour.slug order.tour.id %}"
                            class="btn btn-success btn-sm">
                            Tour page
                        </a>
                    {% else %}
                        <a href="{% url 'guide' order.guide.user.generalprofile.first_name order.guide.user.generalprofile.uuid %}"
                            class="btn btn-success btn-sm">
                            {% blocktrans %}
                                Guide Profile
                            {% endblocktrans %}
                        </a>
                    {% endif %}
                </p>

                {% if order.status.id == 2 or order.status.id == 4 %}
                    <p>
                        <a href="{% url 'order_completing' order.id %}"
                            class="btn btn-primary btn-sm">
                            {% if not order.payment.dt_paid %}
                                {% blocktrans %}
                                    Write a Review and Pay
                                {% endblocktrans %}
                            {% else %}
                                {% blocktrans %}
                                    View final details
                                {% endblocktrans %}
                            {% endif %}
                        </a>
                    </p>
                {% endif %}

                {% if order.status.id == 1 or order.status.id == 2 or order.status.id == 5 %}
                    <p>
                        <a href="{% url 'cancel_order' order.id %}"
                            class="btn btn-danger btn-sm">
                            {% blocktrans %}
                                Cancel
                            {% endblocktrans %}
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</li>