{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="gap"></div>
            </div>

            <div class="col-lg-6 col-lg-offset-1">
                <h3 class="text-center">Feedback Area</h3>

                {% if order.review.is_guide_feedback %}
                    {% if is_guide or order.review.is_tourist_feedback %}
                        <h3>
                            Guide Review
                        </h3>

                        <p>
                            <b>Score: </b>{{ order.review.guide_rating }}
                        </p>
                        <p>
                            {% if order.review.guide_feedback_name %}
                                <b>{{ order.review.guide_feedback_name }}</b><br>
                            {% endif %}
                            {{ order.review.guide_feedback_text|safe }}
                        </p>
                    {% endif %}
                {% endif %}

                {% if order.review.is_tourist_feedback %}
                    {% if is_tourist or order.review.is_guide_feedback %}
                        <h3>
                            Tourist Review
                        </h3>
                        <p>
                            <b>Score: </b>{{ order.review.tourist_rating }}
                        </p>
                        <p>
                            {% if order.review.tourist_feedback_name %}
                                <b>{{ order.review.tourist_feedback_name }}</b><br>
                            {% endif %}
                            {{ order.review.tourist_feedback_text|safe }}
                        </p>
                    {% endif %}
                {% endif %}

                {% if is_guide and not order.review.is_guide_feedback %}
                    {% include 'orders/review_form.html' %}
                {% elif is_tourist and not order.review.is_tourist_feedback%}
                     {% include 'orders/review_form.html' %}
                {% endif %}
            </div>

            <div class="col-lg-4 col-lg-offset-1">

                <div class="payment-summary">
                    {% if order.payment_status.id == 2 %}
                        <div class="is-paid-container">
                            {% blocktrans %}
                                PAYMENT <br> RESERVED
                            {% endblocktrans %}
                        </div>
                    {% elif order.payment_status.id == 4 %}
                        <div class="is-paid-container">
                            {% blocktrans %}
                                PAID
                            {% endblocktrans %}
                        </div>
                    {% endif %}

                    <div class="text-center">
                        {% if is_tourist and order.guide.profile_image %}
                            <img class="img-circle avatar-image-x-small"
                                 src="{{ order.guide.profile_image.url }}"
                                 alt="" title="" />
                        {% elif is_tourist and order.tourist.image %}
                            <img class="img-circle avatar-image-x-small"
                                 src="{{ order.tourist.image.url }}"
                                 alt="" title="" />
                        {% else %}
                            <img class="img-circle avatar-image-x-small"
                                 src="{% static 'img/300x300.png' %}" alt="" title="">
                        {% endif %}
                    </div>

                    <h5 class="text-center">
                        {% if is_tourist %}
                            <a href="{% url 'guide' order.guide.user.generalprofile.first_name order.guide.user.generalprofile.uuid %}">
                                {{ order.guide.user.generalprofile.first_name }}
                            </a>
                        {% elif is_guide %}
                            <a href="{% url 'tourist' order.tourist.user.generalprofile.uuid %}">
                                {% if order.tourist.name %}
                                    {{ order.tourist.name }}
                                {% else %}
                                    {{ order.tourist.user.generlaprofile.first_name }}
                                {% endif %}
                            </a>
                        {% endif %}
                    </h5>

                    <div class="gap gap-small"></div>

                    <h3 class="text-center">
                        Payment Summary
                    </h3>

                    <div class="payment-summary-details">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th width="50%"></th>
                                    <th width="50%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr-mb20">
                                    <td>
                                        <b>
                                            {% blocktrans %}
                                                Description
                                            {% endblocktrans %}
                                        </b>
                                    </td>
                                    <td>
                                        {% if order.tour %}
                                            <b>
                                                A tour "{{ order.tour.name }}" with {{ order.guide.user.generalprofile.first_name }}
                                             </b>
                                                at {{ order.date_booked_for|date:"m.d.Y" }}
                                        {% else %}
                                            <b>
                                                A tour with {{ order.guide.user.generalprofile.first_name }}
                                                at {{ order.date_booked_for|date:"m.d.Y" }}:
                                            </b>
                                            {{ order.hours_nmb|safe }} hours *
                                            {{ order.price_hourly|safe }} {{ order.currency.name }} per hour
                                        {% endif %}
                                        {% if services_in_order %}
                                            <div class="mt10">
                                                <b>Additional services:</b><br>
                                                <ul class="list-unstyled">
                                                    {% for service_in_order in services_in_order %}
                                                        <li>
                                                            {{ service_in_order.service.name }} -
                                                            {{ service_in_order.price_after_discount|safe }}
                                                            {{ order.currency.name }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>
                                            {% blocktrans %}
                                                Base Charge
                                            {% endblocktrans %}
                                        </b>
                                    </td>
                                    <td>
                                        {{ order.total_price_before_fees|safe }} {{ order.currency.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>
                                            {% blocktrans %}
                                                Service Fee
                                            {% endblocktrans %}
                                        </b>
                                    </td>
                                    <td>
                                        {% if is_tourist %}
                                            {{ order.fees_tourist|safe }}
                                        {% elif is_guide %}
                                            {{ order.fees_guide|safe }}
                                        {% endif %}
                                        {{ order.currency.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>
                                            {% blocktrans %}
                                                Tax
                                            {% endblocktrans %}
                                        </b>
                                    </td>
                                    <td>
                                        0 {{ order.currency.name }}
                                    </td>
                                </tr>

                                <tr class="tr-last">
                                    <td>
                                        <b>
                                            {% blocktrans %}
                                                Total
                                            {% endblocktrans %}
                                        </b>
                                    </td>
                                    <td>
                                        {% if is_tourist %}
                                            {{ order.total_price|safe }}
                                        {% elif is_guide %}
                                            {{ order.guide_payment|safe }}
                                        {% endif %}
                                        {{ order.currency.name }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="gap"></div>

            </div>
        </div>
    </div>

{% endblock %}

{% block js_stuff %}
{% endblock js_stuff %}