{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block header_stuff %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">{% blocktrans %}Home{% endblocktrans %}</a>
            </li>
            <li class="active">
                <a href="{% url 'orders' %}">
                    {% blocktrans %}Orders{% endblocktrans %}
                </a>
            </li>
        </ul>
        <h3 class="booking-title">
            {% if orders_nmb == 0 %}
                {% blocktrans %}No orders were found{% endblocktrans %}
            {% elif orders_nmb == 1 %}
                {{ orders_nmb }}  {% blocktrans %}order was found!{% endblocktrans %}
            {% elif orders_nmb > 1 %}
                {{ orders_nmb }} {% blocktrans %}orders were found{% endblocktrans %}
            {% else %}
                {% blocktrans %}No orders were found{% endblocktrans %}
            {% endif %}

        </h3>
        <div class="row">
            <div class="col-md-3">
                <aside class="booking-filters text-white">
                    <h3>Filter By:</h3>
                    <form method="get" action="">
                        <ul class="list booking-filters-list">
                            <li>
                                <h5 class="booking-filters-title">{% blocktrans %}Price {% endblocktrans %}</h5>
                                <input type="text" id="price-slider" name="price"
                                       data-min = "0" data-max="300"
                                       {% if request.GET.price %}
                                           value="{{ request.GET.price }}"
                                       {% endif %}
                                >
                            </li>
                            <li>
                                <h5 class="booking-filters-title">{% blocktrans %}Status{% endblocktrans %}</h5>
                                <select class="form-control select2 hide-arrow" id="status_input" name="status_input"
                                        >
                                    <option value=""></option>
                                    {% for status in statuses %}
                                        <option value="{{ status.name}}"
                                        {% if request.GET.status_input == status.name %}selected{% endif %}
                                        >
                                            {{ status.name }}
                                        </option>
                                    {% endfor %}

                                </select>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-primary btn-block">{% blocktrans %}Apply{% endblocktrans %}</button>
                            </li>
                        </ul>
                     </form>
                </aside>
            </div>
            <div class="col-md-9">
{#                <div class="nav-drop booking-sort">#}
{#                    <h5 class="booking-sort-title"><a href="#">Sort: Price (low to high)<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>#}
{#                    <ul class="nav-drop-menu">#}
{#                        <li><a href="#">Price (high to low)</a>#}
{#                        </li>#}
{#                        <li><a href="#">Car Name (A-Z)</a>#}
{#                        </li>#}
{#                        <li><a href="#">Car Name (Z-A)</a>#}
{#                        </li>#}
{#                        <li><a href="#">Car Type</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
                <ul class="booking-list">
                    {% for order in orders %}
                        {% include 'orders/order_representation.html' %}
                    {% endfor %}
                </ul>
                <div class="row">
                    <div class="col-md-6">
                        {% if orders.has_other_pages %}
                            <ul class="pagination">
                                {% if orders.has_previous %}
                                    <li class="next"><a href="?page={{ orders.previous_page_number }}">Previous Page</a>
                                    </li>
                                {% endif %}
                                {% for i in orders.paginator.page_range %}
                                    {% if orders.number == i %}
                                        <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                                      {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                      {% endif %}
                                {% endfor %}
                                {% if orders.has_next %}
                                    <li class="next"><a href="?page={{ orders.next_page_number }}">Next Page</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}            
                    </div>
                    <div class="col-md-6 text-right">
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>

{% endblock %}


{% block js_stuff %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script src="{% static 'js/custom_scripts/searching_scripts.js' %}"></script>
{% endblock js_stuff %}