{% load static %}
{% load i18n %}

<div class="col-md-3 col-sm-12 col-xs-12">
    <div class="thumb">
        <header class="thumb-header">
            <a href="{% url 'guide' guide.user__generalprofile__first_name guide.user__generalprofile__uuid %}" class="hover-img">
                <img class="guide-image-small"
                {% if guide.profile_image %}
                     src="{% get_media_prefix %}{{ guide.profile_image }}"
                {% else %}
                     src="{% static 'img/300x300.png' %}"
                {% endif %}
                     alt="Image of {{ guide.user__generalprofile__first_name }}"
                     title="{{ guide.user__generalprofile__first_name }}" />
            </a>
        </header>
        <div class="thumb-caption">
            <h4 class="thumb-title">{{ guide.user__generalprofile__first_name}}</h4>
            {% if guide.overview %}
                <p class="thumb-desc">{{ guide.overview|truncatewords:20 }}</p>
            {% else %}
                <p>{% trans 'Some decription will be here' %}</p>
            {% endif %}
        </div>
    </div>
</div>