{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% get_current_language as LANGUAGE_CODE %}


{% block header_stuff %}
    <!-- Event snippet for register tourist conversion page -->
    <script>
    gtag('event', 'conversion', {'send_to': 'AW-855709588/X2RNCIrv4HkQlK-EmAM'});
    </script>
{% endblock header_stuff %}


{% block content %}
    <div class="container">
        <h1 class="page-title">Login/Register on Tourzan</h1>
    </div>

    <div class="gap-small"></div>

    <div class="container">
        <div class="row" data-gutter="60">
            <div class="col-md-4">
                <h3>{% trans 'Welcome to Tourzan' %}</h3>
                <p>
                    {% blocktrans %}
                    You may be authenticated, using social networks or sign in/sign up using username and password
                    {% endblocktrans %}
                </p>
                <div class="text-center">
                    <a title="Facebook" class="btn btn-default btn-facebook"
                       {% if request.GET.next and request.GET.next|length > 4 %}
                           href="{% provider_login_url "facebook" method="oauth2"  next=request.GET.next %}"
                       {% else %}
                            href="{% provider_login_url "facebook" method="oauth2" next="/after_login_router/" %}"
                       {% endif %}
                    >
                        <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{% trans 'Login' %}</h3>
                <form method="post" action="{% url 'account_login' %}">{% csrf_token %}
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>{% trans 'Username or email' %}</label>
                        <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text"
                               name="username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}"/>
                        <span class="text-error">{{ form.username.errors }}</span>
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>{% trans 'Password' %}</label>
                        <input class="form-control" type="password" placeholder="my secret password" name="password" />
                        <span class="text-error">{{ form.password.errors }}</span>
                    </div>
                    <div class="form-group">

                        <input class="btn btn-primary" type="submit" name="login_btn" value="{% trans 'Log In' %}" />

                    </div>
                    <div class="form-group">
                        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans 'Forgot Password?' %}</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h3>{% trans 'New to Tourzan?' %}</h3>
                <form method="post" action="{% url 'account_signup' %}">{% csrf_token %}
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>{% trans 'Username' %}</label>
                        <input class="form-control" placeholder="e.g. johndoe" type="text" name="username"
                        value="">
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
                        <label>{% trans 'Email' %}</label>
                        <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="email" name="email"
                        value="">
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>{% trans 'Password' %}</label>
                        <input class="form-control" type="password" placeholder="my secret password" name="password1"
                        value="">
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>{% trans 'Password (re-enter)' %}</label>
                        <input class="form-control" type="password" placeholder="my secret password again" name="password2"
                        value="">
                    </div>

                    <div class="g-recaptcha form-group form-group-icon-left" data-sitekey="6LcH3h4TAAAAAF9LtA65w6p2ojP0Ltaoq5ShZ5Bl">
                    </div>

                    <input class="btn btn-primary" type="submit" value="{% trans 'Sign Up for Tourzan' %}" />
                </form>
            </div>
        </div>
    </div>

    <div class="gap"></div>
        
{% endblock content %}
