{% extends 'base_profile.html' %}
{% load static %}
{% load i18n %}

{% block header_stuff %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">

    <!-- Event snippet for post tourist register conversion page -->
    <script>
    gtag('event', 'conversion', {'send_to': 'AW-855709588/TjmsCIjw4HkQlK-EmAM'});
    </script>
{% endblock %}


{% block content_profile %}
    <div class="col-md-9">
        {{ form.errors }}
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-lg-7">
                            <h4>{% blocktrans %}Tourist Profile{% endblocktrans %}</h4>
                        </div>
                        <div class="col-lg-5">
                             <a href="{% url 'tourist' profile.user.generalprofile.uuid %}">
                                 See Public Page
                             </a>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{% blocktrans %}Interests{% endblocktrans %}:</label>
                        <select multiple class="form-control select2"
                            id="interest_input" name="interests"
                            data-search_url="{% url 'search_interest' %}"
                        >
                            {% for user_interest in user_interests %}
                                <option value="{{ user_interest.interest.name }}" selected data-select2-tag="true">{{ user_interest.interest.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon"></i>
                        <label>{% blocktrans %}About{% endblocktrans %}:</label>
                        <textarea rows="5" maxlength="50000"
                                  placeholder="Write here some info about yourself (5000 characters limit)"
                                  name="{{ form.about.html_name }}" class="form-control" >{% if form.about.value %}{{ form.about.value }}{% endif %}</textarea>
                    </div>

                    <div class="form-group">
                        <label>{% blocktrans %}Native Language{% endblocktrans %}:</label>
                        <select class="form-control select2"
                            id="language_native" name="language_native"
                            data-search_url="{% url 'search_language' %}"
                        >
                            {% if user_language_native %}
                                <option value="{{ user_language_native.language}}" selected>{{ user_language_native.get_language_display}}</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>{% blocktrans %}Second Language{% endblocktrans %}:</label>
                                <select class="form-control select2" id="language_second" name="language_second">
                                    {% if user_language_second %}
                                        <option value="{{ user_language_second.language}}" selected>
                                            {{ user_language_second.get_language_display}}
                                        </option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>{% blocktrans %}Proficiency{% endblocktrans %}:</label>
                                <select class="form-control select2"
                                    id="language_second_proficiency" name="language_second_proficiency"
                                >
                                    <option selected>{% blocktrans %}Select level{% endblocktrans %}</option>
                                    {% for language_level in language_levels %}
                                        <option value="{{ language_level.id }}"
                                                {% if language_level.id == user_language_second.level.id %}selected="selected"{% endif %}
                                        >
                                            {{ language_level.name }}
                                        </option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-md-offset-1">
                    <h4>{% blocktrans %}Avatar{% endblocktrans %}</h4>
                    {% if user.touristprofile.image %}
                        <div>
                            <img src="{{ user.touristprofile.image.url }}" class="img-responsive img-rounded">
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label>{% blocktrans %}Upload New Avatar Image{% endblocktrans %}:</label>
                        <input type="file" name="{{ form.image.html_name }}">
                    </div>

                    <hr>
                    <input type="submit" class="btn btn-primary" value="Save Changes">

                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block js_stuff %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{% static 'js/custom_scripts/searching_scripts.js' %}"></script>

{% endblock js_stuff %}

