{% load static %}
{% load i18n %}
{% load stars_rating %}


<li>
    <div class="row">
        <div class="col-md-2">
            <div class="booking-item-review-person">
                <a class="booking-item-review-person-avatar round" href="#">
                    <img src="{% get_media_prefix %}{{ review.order.guide.profile_image }}"/>
                </a>
                <p class="booking-item-review-person-name">
                    <a href="{% url 'guide' review.order.guide.user.generalprofile.first_name review.order.guide.user.generalprofile.uuid %}">
                        {{ review.order.guide.user.generalprofile.first_name }}
                    </a>
                </p>
                <p class="booking-item-review-person-loc">{{ review.order.guide.city.original_name }}</p>
                <small>
                    <a href="#">
                        {{ review.order.guide.orders_with_review_nmb }} {% blocktrans %}Reviews{% endblocktrans %}
                    </a>
                </small>
            </div>
        </div>
        <div class="col-md-10">
            <div class="booking-item-review-content">
                <ul class="icon-group booking-item-rating-stars">
                    {{ review.guide_rating|rendering_stars|safe }}
                </ul>

                {% if review.guide_feedback_name %}
                    <h5>{{ review.guide_feedback_name }}</h5>
                {% endif %}

                <p>
                    {{ review.guide_feedback_text|safe }}
                </p>

{#                <p class="booking-item-review-rate">{% blocktrans %}Was this review helpful?{% endblocktrans %}#}
{#                    <a class="fa fa-thumbs-o-up box-icon-inline round" href="#"></a><b class="text-color"> 18</b>#}
{#                </p>#}

            </div>
        </div>
    </div>
</li>