{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <!-- Static navbar -->
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navbar-logo" href="/">
                        <span>
                            <img src="{% static 'img/Tourzan-transparant.png' %}" class="navbar-logo"
                             alt="Tourzan logo" title="Tourzan logo" />
                        </span>
                    </a>
                    <a class="navbar-brand" href="/">Tourzan</a>
                  </div>


        {#        <div class="collapse navbar-collapse navbar-right">#}
        {#          <!--                      pull-right keeps the drop-down in line -->#}
        {#          <ul class="nav navbar-nav pull-right">#}
        {#            <li><a href="/locator">Locator</a>#}
        {#            </li>#}
        {#            <li><a href="/extras">Extras</a>#}
        {#            </li>#}
        {#          </ul>#}
        {#        </div>#}


                  <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        {% include 'navbar_main_menu_items.html' %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_anonymous %}
                            <li><a href="{% url 'login' %}">{% blocktrans %}Sign In/Sign Up{% endblocktrans %}</a>
                        {% else %}
                            <li class="top-user-area-avatar">
                                <a href="{% url 'settings_router' %}">
                                    Hi, {{ request.user.username }}
                                </a>
                            </li>
                            <li><a href="{% url 'logout' %}">{% blocktrans %}Logout{% endblocktrans %}</a>
                            </li>
                        {% endif %}

                    <li class="dropdown">
                            <a href="#" class="change-language-link dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">
                                {{ LANGUAGE_CODE }}<i class="caret"></i>
                            </a>
                            <ul class="dropdown-menu">
                                {% for language in languages %}
                                    {% if language.code != LANGUAGE_CODE %}
                                        <li>
                                            <a href="{% url 'set_language' language.code %}" class="change-language-link">
                                                {{ language.code }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </li>

{#                        {% if not user.is_anonymous %}#}
{#                            <li>#}
{#                                <a href="{% url 'change_role' %}" class="">#}
{#                                    {% if request.session.current_role == "tourist" or not request.session.current_role %}#}
{#                                        {% if user.guideprofile %}#}
{#                                            <span class="">{% blocktrans %}Switch to Guide profile{% endblocktrans %}</span>#}
{#                                        {% else %}#}
{#                                            <span class="">{% blocktrans %}Switch to Want to be a guide?{% endblocktrans %}</span>#}
{#                                        {% endif %}#}
{#                                    {% else%}#}
{#                                        <span class="">{% blocktrans %}Switch to Tourist profile{% endblocktrans %}</span>#}
{#                                    {% endif %}#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
                    </ul>
                  </div>
                </div><!--/.container-fluid -->
              </nav>
         </div>
    </div>
</div>
