{% load static %}

<li>
    <div class="booking-item booking-item-small">
        <div class="row">
            <div class="col-xs-4">
                <img {% if order.tour and order.tour.image %}
                        src="{% get_media_prefix %}{{ order.tour.image }}"
                     {% else %}
                        src="{% static 'img/300x300.png' %}"
                     {% endif %}
                     alt="{{ order.tour.name }}" title="{{ order.tour.name }}" />
                Rating: {{ order.tour.rating }}
            </div>
            <div class="col-xs-4">
                <h5 class="booking-item-title">{{ order.tour.name }}</h5>

                <span>
                    by {{ order.guide.user.generalprofile.first_name}}
                </span>

                <ul class="icon-group booking-item-rating-stars">
                    <li><i class="fa fa-star"></i>
                    </li>
                    <li><i class="fa fa-star"></i>
                    </li>
                    <li><i class="fa fa-star"></i>
                    </li>
                    <li><i class="fa fa-star"></i>
                    </li>
                    <li><i class="fa fa-star-o"></i>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 text-center">
                <p class="booking-item-price">
                    {% if order.price_hourly %}
                        {{ order.price_hourly }} {{ order.guide.currency.name }} / hour
                    {% elif order.price > 0 %}
                        {{ order.price }} {{ order.price }}
                    {% else %}
                        free!
                    {% endif %}
                </p>
                <p>
                    {% if order.tour %}
                        <a href="{% url 'tour' order.tour.slug order.tour.id %}" class="btn btn-primary btn-xs">
                            Go to Tour
                        </a>
                    {% elif order.guide %}
                        <a href="{% url 'guide' order.guide.user.generalprofile.first_name order.guide.user.generalprofile.uuid %}" class="btn btn-primary btn-xs">
                            Go to Guide
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</li>