{% load static %}
{% load i18n %}

<div class="top-area show-onload">
    <div class="owl-carousel owl-slider owl-carousel-area" id="owl-carousel-slider">
        {% for city in cities %}
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% if city.image %}{% get_media_prefix %}{% if request.user_agent.is_mobile %}{{ city.image_medium }}{% else %}{{ city.image }}{% endif %}{% endif %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        <h1 class="owl-cap-title fittext">{{ city.original_name }}</h1>
{#                        <div class="owl-cap-price"><small>from</small>#}
{#                            <h5>$2700</h5>#}
{#                        </div>#}
                        <a class="btn btn-white btn-ghost" href="{% url 'guides' %}?city_input={{ city.original_name }}">
                            <i class="fa fa-angle-right"></i>{% blocktrans %}Explore Guides{% endblocktrans %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>